<%= form_for @usernew, :html => {:multipart => true} do |f| %>
  <% if @usernew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usernew.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @usernew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div class="field">
  <!--div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div-->
	<div class="field">
	<%= f.label :password_confirmation %>
	<%= f.file_field :password_confirmation%>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

