<h1>Voting</h1>
	<div class="row well">
			<h3>Candidates</h3><div class="remaining" data-remaining="8">8 YES votes remain</div>
			
			<div class="abstain-remaining" data-remaining="12">12 ABSTAIN votes remain</div>
			<% @candidates.each do |candidate|%>
				<div class="span2 well candidate ui-draggable" >
					<input class="vote" type="hidden" value="NO" />
					<% if candidate.picture.url != "/pictures/original/missing.png"%>
					<%= image_tag(candidate.picture.url, :size=> "256x256", :class => "")%>
					<%end%>
					<p class="name"><%= candidate.name%></p>
					<div class="btn-group bottom_box" data-toggle="buttons-radio">
						<button class="btn btn-success" data-loading-text="Loading, motherfucker" value="0"><i class="icon-thumbs-up"></i></button>
						<button class="btn btn-info" value="1"><i class="icon-user" ></i></button>
						<button class="btn btn-danger" value="2"><i class="icon-thumbs-down" ></i></button>
					<%=hidden_field_tag 'candidate_vote', '1', {"data-candidate-id" => candidate.id, "class" => "candidate_vote"} %> 	
					</div>
				</div>
				<%end%>
		</div>

<button class="pull-right btn btn-danger" id="submit_ballot">Submit</button>
<%if current_user %>
<%=hidden_field_tag 'user_id', current_user.id%>
<% elsif current_proxy%>
<%=hidden_field_tag 'user_id', current_proxy.id%>
<%end%>