<h1>Voting</h1>
	<div class="row well">
			<h3>Candidates</h3><div class="remaining" data-remaining="7">7 votes remain</div>
			<% @candidates.each do |candidate|%>
				<div class="span2 well candidate ui-draggable" >
					<input class="vote" type="hidden" value="NO" />
					<% if candidate.picture.url != "/pictures/original/missing.png"%>
					<%= image_tag(candidate.picture.url,  :class => "candidate_image")%>
					<p><button class="btn rotate_button"><i class="icon-repeat"></i></button></p>
					<% else%>
					<%= image_tag("http://www.thisblogrules.com/wp-content/uploads/2010/02/batman-for-facebook.jpg", :size => "140x140", :class => "candidate_image")%>
					<%end%>
					<p class="name"><%= candidate.name%></p>
					<div class="btn-group bottom_box" data-toggle="buttons-radio">
						<button class="btn btn-success" data-loading-text="Loading, motherfucker" value="0"><i class="icon-thumbs-up"></i></button>
						<button class="btn btn-info" value="1"><i class="icon-user" ></i></button>
						<!--button class="btn btn-danger" value="2"><i class="icon-thumbs-down" ></i></button-->
					<%=hidden_field_tag 'candidate_vote', '1', {"data-candidate-id" => candidate.id, "class" => "candidate_vote"} %> 	
					</div>
				</div>
				<%end%>
		</div>

<button class="pull-right btn btn-danger" id="quick_submit_ballot">Submit</button>
<% if current_user %>
<%=hidden_field_tag 'user_id', current_user.id%>
<% elsif current_proxy%>
<%= hidden_field_tag 'user_id', current_proxy.id * -1%>
<%end%>