<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @candidate.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @candidate.picture.url%>
</p>

<p>
	<b>Image:</b>
	<%= image_tag(@candidate.picture.url,  :class => "candidate_image")%>
	</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
